nav {
    background-color: #f60f2e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(240, 246, 247);
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

nav ul li {
 margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(236, 239, 240);
    font-weight: bold;
}

nav ul li a:hover {
    color: rgba(191, 255, 0, 0.866);
}


.pass{
    display:flex ;
     
    gap: 25px;
    padding: 30px;
}
.card {
    background: rgba(219, 11, 11, 0);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    flex:3;
    border-left: 5px solid #d90614;
    border-right:5px solid #f60f2e;
    border-top: 5px solid #d90614;
    border-radius: 50px;
}
.card  p {
 margin: 22px;
 line-height: 1.6;
}
.pass{
    background: rgb(241, 188, 88);
}


body{
    padding: 0px;
    margin: 0px;
    background-position: cover;
    background:linear-gradient(to right, #ffcc70, #ff8177);
}
